@model List<Speciality>

<div>
    <a asp-action="AdminMenu" asp-controller="Admin">Назад</a>
    <a asp-action="Index">Перейти к активным</a>

    @{
        foreach (var speciality in Model)
        {
            <p>@speciality.NameSpeciality</p>
            <form asp-action="BringBack" asp-route-id="@speciality.Id" method="post">
                <input type="submit" value="Вернуть">
            </form>
            <form asp-action="Edit" method="post" asp-route-id=@speciality.Id>
                <input type="text" name="name" />
                <input type="submit" value="Изменить" />
            </form>
        }
    }

</div>