@model List<Speciality>

<div>
    <a asp-action="AdminMenu" asp-controller="Admin">Назад</a>
    <a asp-action="Inactive">Перейти к удалённым</a>
    <form asp-action="AddSpeciality">
        <p>
            <label name="NameSpeciality">Название специальности</label>
            <input type="text" name="NameSpeciality"/>
        </p>
        <p>
            <input type="submit" value="Создать"/>
        </p>
    </form>

    @{
        foreach (var speciality in Model)
        {
            <p>@speciality.NameSpeciality</p>
            <form asp-action="DeleteSpeciality" asp-route-id="@speciality.Id" method="post">
                <input type="submit" value="Удалить">
            </form>
            <form asp-action="Edit" method="post" asp-route-id=@speciality.Id>
                <input type="text" name="name"/> 
                <input type="submit" value="Изменить"/>
            </form>
        }
    }

</div>