@model List<Speciality>

<div>
    <form asp-action="AddSpeciality">
        <p>
            <label name="NameSpeciality">Название специальности</label>
            <input type="text" name="NameSpeciality"/>
        </p>
        <p>
            <input type="submit" value="Создать"/>
        </p>
    </form>

    @{
        foreach (var speciality in Model)
        {
            <form asp-action="DeleteSpeciality" asp-route-id="@speciality.Id" method="post">
                <p>@speciality.NameSpeciality</p>
                <input type="submit" value="Удалить">
            </form>
        }
    }

</div>