@model MedicalService

<div>
    <form asp-controller="Admin" asp-action="AddServiceAction">
        <div>
            <p>
                <label asp-for="NameService">Название услуги</label>
                <input required asp-for="NameService" />
            </p>
            <p>
                <label asp-for="FkSpeciality">Категория</label>
                <select asp-for="FkSpeciality" asp-items="ViewBag.Specialities"></select>
            </p>
            <p>
                <label asp-for="Price">Цена</label>
                <input required asp-for="Price" type="number"/>
            </p>
            <p>
                <label asp-for="Description">Описание услуги</label>
                <textarea asp-for="Description"></textarea>
            </p>
            <p>
                <input type="submit" value="Создать"/>
            </p>
        </div>
    </form>
</div>