<a asp-action="Logout">Выйти</a>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
    <div class="col d-flex align-items-start">
        <div>
            <h2>Персонал</h2>
            <p>Управление учётными записями врачей</p>
            <a asp-controller="DoctorAdder" asp-action="Index" class="btn btn-primary">
                Перейти
            </a>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div>
            <h2>Специальности</h2>
            <p>Управление специальностями врачей</p>
            <a asp-controller="SpecialitiesAdder" asp-action="Index" class="btn btn-primary">
                Перейти
            </a>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div>
            <h2>Услуги</h2>
            <p>Управление предоставляемыми услугами</p>
            <a asp-controller="ServicesAdder" asp-action="Index" class="btn btn-primary">
                Перейти
            </a>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div>
            <h2>База данных</h2>
            <p>Управление базой данных</p>
            <a asp-controller="Rollback" asp-action="Index" class="btn btn-primary">
                Перейти
            </a>
        </div>
    </div>
</div>

