@model List<WebClinic.Models.Rollback>
@{
    ViewData["Title"] = "Журнал транзакций";
}

<a asp-controller="Admin" asp-action="AdminMenu" class="btn btn-primary mt-3 mb-3">Назад в меню</a>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="text-center">
                <th>Время</th>
                <th>Метод</th>
                <th>Имя таблицы</th>
                <th>Управление</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var rollback in Model)
        {
            <tr style="text-align: center">
                <td width="15%">@rollback.Time</td>
                <td width="15%">@rollback.Method_</td>
                <td width="15%">@rollback.TabName</td>
                <form asp-controller="Rollback" asp-action="RollBack" asp-route-time="@rollback.Time">
                    <td width="15%"><button type="submit" class="btn btn-outline-primary w-20">Откатить</button></td>
                </form>
            </tr>
        }
        </tbody>
    </table>
</div>

