
@{
    ViewData["Title"] = "Журнал транзакций";
}

<a asp-controller="Admin" asp-action="AdminMenu" class="btn btn-primary mt-3 mb-3">Назад в меню</a>

<table class="table table-bordered table-striped">
    <tr class="text-center">
        <th>Время</th>
        <th>Метод</th>
        <th>Имя таблицы</th>
        <th colspan="3">Управление</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td width="15%"></td>
        <td width="15%"></td>
        <td width="15%">
                
        </td>
        <td width="15%"></td>
        <td width="13%"><a asp-controller="Players" asp-action="EditPlayerInfo" class="btn btn-link">Редактировать</a></td>
        <td width="13%"><a class="btn btn-link" asp-controller="Detail" asp-action="ActionHistory">Подробно</a></td>
        <td width="13%">
            <form asp-controller="Players" asp-action="DeletePlayer" method="post">
                <input class="btn btn-link" type="submit" value="Удалить" />
            </form>
        </td>
        <td width="13%"><a class="btn btn-outline-primary w-20" asp-controller="Transactions" asp-action="AddTransactions">Транзакции</a></td>
        <td width="13%"><a class="btn btn-outline-primary w-20" asp-controller="Bettings" asp-action="AddBettings">Ставки</a></td>
    </tr>
</table>

