@page "{id:int?}"
@model Services.EditModel

@{
    ViewData["Title"] = "Редактирование услуг";
}

<a class="btn btn-primary" asp-action="ActiveServices">Назад</a>
<div class="mt-3">
    <form asp-action="EditService" asp-route-flag=@Model.service.DeleteFlag method="post">
        <div>
            <p>
                <label name="NameService">Название услуги</label>
                <input class="form-control" required name="NameService" asp-for=@Model.service.NameService />
            </p>
            <p>
                <label name="FkSpeciality">Категория</label>
                <select name="FkSpeciality" asp-for=@Model.service.FkSpeciality asp-items="@Model.specialities"></select>
            </p>
            <p>
                <label name="Price">Цена</label>
                <input class="form-control" required name="Price" asp-for=@Model.service.Price type="number" />
            </p>
            <p>
                <label name="Description">Описание услуги</label>
                <textarea class="form-control" name="Description" asp-for=@Model.service.Description></textarea>
            </p>
            <p>
                <input class="btn btn-primary" type="submit" value="Обновить" />
            </p>
        </div>
    </form>
</div>
