@page
@model Account.RegistrationModel
@{
    ViewData["Title"] = "Регистрация";
}

<form method="post" id="myForm">
    <div class="border p-3">
        <div class="form-group row m-3">
            <div class="col-4">
                Фамилия
            </div>
            <div class="col-8">
                <input class="form-control" asp-for="PatientRegisterModel.Surname" />
                <span class="text-danger" asp-validation-for="PatientRegisterModel.Surname"></span>
            </div>
        </div>
        <div class="form-group row m-3">
            <div class="col-4">
                Имя
            </div>
            <div class="col-8">
                <input class="form-control" asp-for="PatientRegisterModel.Name" />
                <span class="text-danger" asp-validation-for="PatientRegisterModel.Name"></span>
            </div>
        </div>
        <div class="form-group row m-3">
            <div class="col-4">
                Отчество
            </div>
            <div class="col-8">
                <input class="form-control" asp-for="PatientRegisterModel.Patronymic" />
                <span class="text-danger" asp-validation-for="PatientRegisterModel.Patronymic"></span>
            </div>
        </div>
        <div class="form-group row m-3">
            <div class="col-4">
                Возраст
            </div>
            <div class="col-8">
                <input class="form-control" type="date" asp-for="PatientRegisterModel.BirthDate" />
                <span class="text-danger" asp-validation-for="PatientRegisterModel.BirthDate"></span>
            </div>
        </div>
        <div class="form-group row m-3">
            <div class="col-4">
                Пол
            </div>
            <div class="col-8">
                <select asp-items=@Model.Genders class="form-control" asp-for="PatientRegisterModel.Gender">
                    <option disabled selected>Пол</option>
                </select>
                <span asp-validation-for="PatientRegisterModel.Gender" class="text-danger"></span>
            </div>
        </div>
       @*  <div class="form-group row m-3">
            <div class="col-4">
                Номер телефона
            </div>
            <div class="col-8">
                <input required class="form-control" type="tel" name="phone" />
            </div>
        </div> *@
        <div class="form-group row m-3">
            <div class="col-4">
                E-Mail
            </div>
            <div class="col-8">
                <input class="form-control" asp-for="PatientRegisterModel.Email" type="email" required />
            </div>
        </div>
        <div class="form-group row m-3">
            <div class="col-4">
                Логин
            </div>
            <div class="col-8">
                <input class="form-control" asp-for="PatientRegisterModel.Login" placeholder="@ViewBag.Login" required />
            </div>
        </div>
        <div class="form-group row m-3">
            <div class="col-4">
                Пароль
            </div>
            <div class="col-8">
                <input class="form-control" asp-for="PatientRegisterModel.Password" required />
            </div>
        </div>
        <div class="form-group row m-3">
            <div class="col-8 offset-4 row">
                <div class="col">
                    <input type="submit" class="btn btn-success w-75" value="Добавить" />
                </div>
                <div class="col">
                    <a class="btn btn-primary w-75" asp-action="Index">Назад</a>
                </div>
            </div>
        </div>
    </div>
</form>