 @model List<MedicalService>;

@{
    ViewData["Title"] = "Активные услуги";
}
<ul class="nav nav-tabs" id="tab-example" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="second-tab" data-toggle="tab" role="tab" aria-controls="second-tab-content"
           aria-selected="false" asp-action="Index">Добавить услугу</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" id="second-tab" data-toggle="tab" role="tab" aria-controls="second-tab-content"
           aria-selected="false" asp-action="ActiveServices">Активные услуги</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="second-tab" data-toggle="tab" role="tab" aria-controls="second-tab-content"
           aria-selected="false" asp-action="Inactive">Архив услуг</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="first-tab" data-toggle="tab" role="tab" aria-controls="first-tab-content"
           aria-selected="true" asp-action="AdminMenu" asp-controller="Admin">Назад в меню</a>
    </li>
</ul>

@foreach (var item in Model.Where(x => x.DeleteFlag == 0))
{
    <div class="card mb-2 mt-2">
        <div class="card-body">
            <h1>Название услуги: @item.NameService</h1>
            <p>Предоставляет: @item.FkSpecialityNavigation?.NameSpeciality</p>
            <p>Описание: @item.Description</p>
            <h5>Цена: @item.Price</h5>
            <div class="form-group row" style="flex-wrap: nowrap; margin-left: 1px;">
                <a asp-action="EditService" asp-route-id=@item.Id class="btn btn-primary" style="width: auto">
                    Изменить
                </a>
                <form asp-action="DeleteService" asp-route-id=@item.Id>
                    <input class="btn btn-primary" value="Удалить" type="submit">
                </form>
            </div>
        </div>
    </div>
}