@model List<Speciality>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
        foreach (var speciality in Model)
        {
            <div>
                <a href="/services"></a>
            </div>
        }
    }
</div>
