@{
    ViewData["Title"] = "Карта";
}

<div style="text-align: center">
    <h3>Где мы находимся:</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2709.66997783011!2d39.72974550000001!3d47.2230394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3b9759dcb1725%3A0xec772f6920a7d1ca!2z0YPQuy4g0KHQvtGG0LjQsNC70LjRgdGC0LjRh9C10YHQutCw0Y8sIDE1NNCwLCDQoNC-0YHRgtC-0LIt0L3QsC3QlNC-0L3Rgywg0KDQvtGB0YLQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMzQ0MDIy!5e0!3m2!1sru!2sru!4v1698619188684!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>