@model WebClinic.Models.Employe

@{
    ViewData["Title"] = "Обновление врача";
}
<a asp-controller="Admin" asp-action="AdminMenu">Назад</a>
<form method="post" id="myForm" asp-route-flag=@Model.DeleteFlag asp-action="EditDoctor">
    <div class="border p-3">
        <div class="form-group row m-3">
            <div class="col-4">
                Фамилия
            </div>
            <div class="col-8">
                <input class="form-control" asp-for="Surname" />
                <span class="text-danger" asp-validation-for="Surname"></span>
            </div>
        </div>
        <div class="form-group row m-3">
            <div class="col-4">
                Имя
            </div>
            <div class="col-8">
                <input class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group row m-3">
            <div class="col-4">
                Отчество
            </div>
            <div class="col-8">
                <input class="form-control" asp-for="Patronymic" />
                <span class="text-danger" asp-validation-for="Patronymic"></span>
            </div>
        </div>
        <div class="form-group row m-3">
            <div class="col-4">
                Возраст
            </div>
            <div class="col-8">
                <input class="form-control" type="date" asp-for="Birthdate" />
                <span class="text-danger" asp-validation-for="Birthdate"></span>
            </div>
        </div>
        <div class="form-group row m-3">
            <div class="col-4">
                Пол
            </div>
            <div class="col-8">
                <select asp-items="@ViewBag.listWithGender" class="form-control" asp-for="Gender">
                    <option disabled selected>Пол</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row m-3">
            <div class="col-4">
                Специальность
            </div>
            <div class="col-8">
                <select asp-items="@ViewBag.specialities" class="form-control" name="speciality">
                    <option disabled selected>Специальность</option>
                </select>
            </div>
        </div>
        <div class="form-group row m-3">
            <div class="col-8 offset-4 row">
                <div class="col">
                    <input type="submit" class="btn btn-success w-75" value="Изменить" />
                </div>
            </div>
        </div>
    </div>
</form>
