@model MedicalService;

<div>
    <h1>@Model.NameService</h1>
    <p>@Model.Description</p>
    <p>Цена: @Model.Price</p>
    <form asp-action="MakeOrder" asp-controller="Record" asp-route-id=@Model.Id>
        <input type="submit" value="Заказать"/>
    </form>
    
</div>
